.deal-damage-modal {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    background-color: white;
    max-height: 100px;
    max-width: 400px;
    min-width: 400px;
    border: 1px solid black;
    padding: 40px;
}