.playerAccountModalContainer {
    position: relative;
    left: 50%;
    bottom: 450px;
    transform: translateX(-50%);
    background-color: white;
    max-height: 100%;
    max-width: 400px;
    min-width: 400px;
    height: 550px;
    border: 1px solid black;
}

.showing {
    display: flex;
}

.hiding {
    display: none;
}