.App {
  text-align: center;
}

.app-header{
  border-bottom: 1px solid black;
}

.app-body{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.body-container-1{
  width:60%;
  display: flex;
  flex-direction: column;
}

.body-container-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

